In [2]:
import pandas as pd
df=pd.read_excel('C:\\Users\\shrad\\OneDrive\\Documents\\Project dataset\\Order_details2.xlsx')
df.head()

,order_id,order_date,product_id,product_name,customer_id,customer_name,region,channel,unit_price,units_sold,discount_pct,revenue,unit_cost,cost,profit,payment_method,order_status
0,1001,2026-01-03 00:00:00,P-001,Wireless Mouse,C-101,Aarav Mehta,West,Online,19.99,3,0.05,56.97,10.5,31.5,25.47,UPI,Shipped
1,1002,2026-01-04 00:00:00,P-002,Mechanical Keyboard,C-102,Nisha Sharma,North,Online,79.00,1,0.00,79.00,48.0,48.0,31.00,Card,Delivered
2,1003,2026-01-05 00:00:00,P-003,USB-C Cable (2m),C-103,Kabir Singh,South,Retail,9.50,5,0.10,42.75,3.0,15.0,27.75,Cash,Delivered
3,1004,2026-01-05 00:00:00,P-004,"27"" Monitor",C-104,Diya Iyer,East,Online,229.99,1,0.07,213.89,165.0,165.0,48.89,Card,Shipped
4,1005,2026-01-06 00:00:00,P-005,Laptop Stand,C-105,Rohan Gupta,West,Wholesale,34.00,10,0.15,289.00,18.0,180.0,109.00,Bank Transfer,Processing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        330 non-null    int64
 1   order_date      330 non-null    object
 2   product_id      330 non-null    object
 3   product_name    330 non-null    object
 4   customer_id     330 non-null    object
 5   customer_name   330 non-null    object
 6   region          330 non-null    object
 7   channel         330 non-null    object
 8   unit_price      330 non-null    float64
 9   units_sold      330 non-null    int64
 10  discount_pct    330 non-null    float64
 11  revenue         330 non-null    float64
 12  unit_cost       330 non-null    float64
 13  cost            330 non-null    float64
 14  profit          330 non-null    float64
 15  payment_method  330 non-null    object
 16  order_status    330 non-null    object
dtypes: float64(6), int64(2), object(9)
memory usage: 44.0+ KB

In [4]:
df.describe(include='all')

,order_id,order_date,product_id,product_name,customer_id,customer_name,region,channel,unit_price,units_sold,discount_pct,revenue,unit_cost,cost,profit,payment_method,order_status
count,330.000000,330,330,330,330,330,330,330,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330.000000,330,330
unique,NaN,233,330,39,278,274,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,6
top,NaN,2025-09-22,P-001,Keyboard,C-325,Customer_312,North,Online,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UPI,Delivered
freq,NaN,5,1,42,3,3,75,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76,97
mean,1165.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22393.740636,5.178788,0.137182,102089.783121,14452.819364,76574.073364,25515.709758,NaN,NaN
std,95.407023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15319.801995,2.956859,0.086763,96545.958694,10089.226019,72212.868474,31199.357563,NaN,NaN
min,1001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.500000,1.000000,0.000000,42.750000,3.000000,15.000000,-9405.830000,NaN,NaN
25%,1083.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8980.317500,2.000000,0.060000,25179.522500,5532.440000,18197.412500,2853.055000,NaN,NaN
50%,1165.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22047.695000,5.000000,0.130000,75445.330000,13952.700000,56945.295000,14252.860000,NaN,NaN
75%,1247.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35906.525000,8.000000,0.210000,152947.832500,22459.085000,114083.985000,34560.687500,NaN,NaN
max,1330.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49687.900000,12.000000,0.300000,475391.420000,38747.140000,362289.500000,162405.440000,NaN,NaN

In [6]:
df.isnull().sum()

order_id          0
order_date        0
product_id        0
product_name      0
customer_id       0
customer_name     0
region            0
channel           0
unit_price        0
units_sold        0
discount_pct      0
revenue           0
unit_cost         0
cost              0
profit            0
payment_method    0
order_status      0
dtype: int64

In [7]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={})
df.columns

Index(['order_id', 'order_date', 'product_id', 'product_name', 'customer_id',
       'customer_name', 'region', 'channel', 'unit_price', 'units_sold',
       'discount_pct', 'revenue', 'unit_cost', 'cost', 'profit',
       'payment_method', 'order_status'],
      dtype='object')

In [8]:
!pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\users\shrad\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: pyodbc in c:\users\shrad\anaconda3\lib\site-packages (5.3.0)
Requirement already satisfied: greenlet>=1 in c:\users\shrad\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shrad\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)

In [9]:
import sqlalchemy
import pyodbc
from sqlalchemy import create_engine
server = 'localhost\\SQLEXPRESS' 
database = 'SB'
connection_string = (
    f'mssql+pyodbc://{server}/{database}?'
    f'driver=ODBC+Driver+17+for+SQL+Server&'
    f'Trusted_Connection=yes'
)

engine=sqlalchemy.create_engine(connection_string)
engine.connect()
table_name="Order_details"
df.to_sql(table_name,engine,if_exists="replace",index=False)

print(f"Data loading successful into '{table_name}'")

C:\Users\shrad\AppData\Local\Temp\ipykernel_17068\1376997593.py:13: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  engine.connect()

Data loading successful into 'Order_details'